{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Passionate about leveraging technology to drive innovation, I am a results-driven Python developer with a focus on back-end development, AWS, and Microservices architecture. My journey in the tech realm has equipped me with expertise in Python coding, scripting, AWS services, REST API, SQL, Linux, Docker, CI/CD, and Agile development methodology.
        </p>
        <p>
          Graduating with a degree in Computer Science from a top engineering college in India, I bring a strong foundation and a collaborative mindset to every project.
        </p>
        <p>
          In my current role as a Software Engineer at Ireslab Inc., I have engineered and implemented a robust cloud-based architecture using Python and various AWS services. My proficiency extends to designing and developing microservice serverless architecture and REST APIs, resulting in significant cost reductions and improved system scalability. I pride myself on leading teams through efficient development and deployment processes, showcasing both technical expertise and leadership skills.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
